{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
        "consistent-return": ["off"],
        "prefer-rest-params": ["off"],
        "no-else-return": ["off"],
        "no-param-reassign": ["off"],
        "no-restricted-syntax": ["off"],
        "no-underscore-dangle": ["off", { "allowAfterThis": true, "allowAfterSuper": true }]
    }
}
